.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.header__title h2 {
  font-size: 5rem;
}

.persons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 90%;
  height: 80%;
  position: relative;
  overflow: hidden;
}

.person {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  position: absolute;
  width: 25rem;
  height: 50rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.person img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

.person h3 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.person h4 {
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.person p {
  font-size: 1.2rem;
}

.persons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  position: relative;
  z-index: 500;
  cursor: pointer;
}

#btn {
  font-size: 3rem;
  color: var(--white-color);
}

.person.activeSlide {
  opacity: 1;
  transform: translateX(0%);
  transition: transform 1s, opacity 1s;
}

.person.nextSlide {
  transform: translateX(100%);
}

.person.lastSlide {
  transform: translateX(-100%);
}

@media only screen and (min-width: 540px) {
  .person {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .persons {
    width: 70rem;
  }

  .person h3 {
    font-size: 2.5rem;
  }

  .person h4 {
    font-size: 2rem;
  }

  .person p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .persons {
    width: 80rem;
  }

  .person {
    width: 60rem;
    justify-content: space-between;
  }

  .person h3 {
    font-size: 3rem;
    margin: 0;
  }

  .person h4 {
    font-size: 2.5rem;
    margin: 0;
  }

  .person p {
    font-size: 2rem;
    margin: 0;
  }
}
